<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="NBug.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="NBug.Properties.Settings.Cipher" connectionString="HqnKNGqIYOD4lqPd/dGLAl4HVzovpIm2RrLJB5u6ZNg=" />
    <add name="NBug.Properties.Settings.Destination1" connectionString="Hc0HWAyjqXG+k/2VXZfjZCWXpVvw7fqTjAHK+r0OsmPPvhCSf5pD2IFWuEw9a1jQT5n1cYKtEIuRDoXmFNM5Fi4Hquf8kYm5VJBKR4M/V0zY37EgelWALSDPK3Ig5q2pxkuGFTfJfalQGmFW/o1nGuN5VOWqH451a0HbPiVaIBd3GAIWhbpG1JQ4uX+6qCADXdQSwz/WJoRR2qmYP4pIm28fpEWHccbaKkuYrRTXiG9grDP/DIiQpIiPrOyTeRvfVvpOPa0ZSXDiXuASyI+gxAhVQ1n20BMCNa+2icwpSN7l1dGevduQiOccMl0taE/4Qxsi3WAWNUTLBgynLPrNdh1wltABY1/e7pioLFIb0zaU8IHORMJ62MsSwNS+zpx0DthoRX9rXfMnSM7iVqOgaw==" />
  </connectionStrings>
  <applicationSettings>
    <NBug.Properties.Settings>
      <setting name="UIMode" serializeAs="String">
        <value>Minimal</value>ilmer
      </setting>
      <setting name="UIProvider" serializeAs="String">
        <value>WinForms</value>
      </setting>
      <setting name="SleepBeforeSend" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="MaxQueuedReports" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="StopReportingAfter" serializeAs="String">
        <value>9999</value>
      </setting>
      <setting name="MiniDumpType" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="WriteLogToDisk" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="ExitApplicationImmediately" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="HandleProcessCorruptedStateExceptions" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="ReleaseMode" serializeAs="String">
        <value>false</value>
      </setting>
      <setting name="DeferredReporting" serializeAs="String">
        <value>true</value>
      </setting>
      <setting name="StoragePath" serializeAs="String">
        <value>WindowsTemp</value>
      </setting>
    </NBug.Properties.Settings>
  </applicationSettings>
</configuration>